#div1{
        text-align: center;
        background-color: darkgrey; 
        color: white;     
 }
 
 
.nav a{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    margin-left: 100px ;
    margin-right: 10px;
    padding: auto; 
 }
 

 .nav{
     background-color: black;
     padding: auto;
     display: flex;
     flex-direction: none;
     height: 50px;
    align-items: center;
 }


#h4{
    font-size: large;
    color: rgb(1, 19, 19);
    margin-left: 10px;
}


#p1{
    margin-left: 20px;
    text-indent: 20px;
    font-size: larger;
}


.p2{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    padding-top: 30px;  
}


.p3{
    text-indent: 100px;
    font-size: large;
}


 .fav {
    color: rgb(18, 18, 72);
    font-style: normal;
    font-weight: bolder ;
    justify-content: center;
    margin-left: 15px;
}


.iframe1{
    margin-left: 5%;
    margin-top: auto;
}


#divimg{
    float: inline-end;
}


.form{
    color: rgb(19, 20, 19);
}


.sug{
    font-size: large;
}


.list{
    clear: right;
    font-size: large;
    font-style: italic;
    float: left;
    border: 3px;
    margin-top: 15px;
    border-color: black;
    margin-bottom: 15px;
    width: 40%;
    margin-left: 19px;
}


.table{
    background-color: rgb(238, 232, 236);
   color: rgb(7, 13, 18);
   width: 40%;
   border: 2px;
   border-color: rgb(80, 55, 55);
   height: 60px;
}


.th{
    color: rgb(246, 242, 242);
    font-size: larger;
    background-color: rgb(31, 29, 29);
}


.img{
   border-radius: 500px;
   float: right;
   margin-top: 10px;
   margin-right: 100px;
   margin-bottom: 10%;
}


.img2{
    border-radius: 10px;
    margin-left: 20px;
   float: left;
    margin-top: 7%;
}


.abay{
    float: right;
    margin-top: 20%;
    margin-left: 1%;
    font-size: xx-large;
    font-style: italic;
}


#background{
   
    background-color: rgb(238, 232, 236);
    padding: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.headline{
    margin-left: 19px;
}


.tophalf{
    width: fit-content;     
}


.includetitle{
    float: right;
}


.pic{
    border-radius: 50px;
    width: 28%;
    height: 530px;
     float: left;
     margin-right: 40px ;
     margin-left: 20px;
     margin-bottom: 10px;
}


.gif{
    width: 50%;
    height: auto; 
}


.thanks{
    font-size: xx-large;
    font-weight: bolder;
}


.music{
    font-size: large;
}


.movie{
    font-size: large;
}


.sport{
    font-size: large;
}


.musicleft{
    width: 40%;
    float: right;
    padding-top: 10px;
    margin-left: -50px;
}


.iframeright{
    width: 50%;
    margin-top: 90px;
    position: absolute;
    margin-top: 10px;
}


.secondsection{
    align-items: center;
    justify-items: center;
}


.thanksgif{
    float: right;
    position: absolute;
    margin-left: 50%;
    margin-top: 1270px;
    width: 500px;
}


.box{
    width:40%;
    height: auto; 
    margin-top: 70px;
    display: flex;
    margin-left: 30px;  
}


span{
    color: red;
    font-size: 130%;
}


.index{
    margin-left: 10%;
    font-size: large;
    font-weight: 450;
}

#ig{
    margin-top: 10%;
    margin-left: 85%;
    font-weight:bold;
    font-size: large;   
    font-style: oblique;
}

